.chat-view {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  height: 100vh;
}

.chat-view header {
  position: fixed;
  height: 3rem;
  background-color: #247ba0;
  width: 100%;
  left: 0;
}
.chat-view header h2 {
  margin: 0;
  text-align: center;
  line-height: 3rem;
}

.chat-view header input {
  position: absolute;
  right: 0.4rem;
  top: 0.4rem;
  border: none;
  padding: 0.3rem;
  border-radius: 0.5rem;
}
