/*Palette from https://coolors.co/50514f-f25f5c-ffe066-247ba0-70c1b3 */

body {
  background-color: #50514f;
  color: #ddd;
  min-height: 100vh;
}

.App {
  display: flex;
  justify-content: space-around;
}
